In [40]:
import pandas as pd
import numpy as np

# **Task - 1 : Create a Pandas Dataframe With 10 obesrvations and 5 Featurees**

In [41]:
dic={'Name':['Praneeth Reddy','Akash','aasrith','shobtih','kanish','narayana','Vamssi','Pothan','kalyan','Charan'],
     'Age':[19,21,18,22,23,26,20,17,18,20],
     'Reg.No':[1500,1085,1700,1722,1742,np.nan,1232,1456,np.nan,1987],
     'Branch':['CSE','BCE','BRS','BLE','MIC','MIS','BPS','ECE','ECM','EEE'],
     'University':['VIT','SNU','PES','VIT','SRM','JNTU','VEMU','SVU','SITAMS','SSN']
     }

In [36]:
#Converting the Dicionary into a DataFrame
df = pd.DataFrame(dic)
df

             Name  Age  Reg.No Branch University
0  Praneeth Reddy   19  1500.0    CSE        VIT
1           Akash   21  1085.0    BCE        SNU
2         aasrith   18  1700.0    BRS        PES
3         shobtih   22  1722.0    BLE        VIT
4          kanish   23  1742.0    MIC        SRM
5        narayana   26     NaN    MIS       JNTU
6          Vamssi   20  1232.0    BPS       VEMU
7          Pothan   17  1456.0    ECE        SVU
8          kalyan   18     NaN    ECM     SITAMS
9          Charan   20  1987.0    EEE        SSN

# **Task -2 : Check the Info of df**

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   Reg.No      8 non-null      float64
 3   Branch      10 non-null     object
 4   University  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

# **Task -3 :Check the Descriptive  Statistics of  'df'**

In [38]:
df.describe()

             Age       Reg.No
count  10.000000     8.000000
mean   20.400000  1553.000000
std     2.716207   294.843784
min    17.000000  1085.000000
25%    18.250000  1400.000000
50%    20.000000  1600.000000
75%    21.750000  1727.000000
max    26.000000  1987.000000

# **Task -4 :Check the 4th Index observation with 'loc'  slicing operator**

In [39]:
df.loc[4]

Name          kanish
Age               23
Reg.No        1742.0
Branch           MIC
University       SRM
Name: 4, dtype: object

# **Task -5 : Check the null Values in your 'df'**

In [42]:
# any() returns the answer in boolean
df.isnull().any()

Name          False
Age           False
Reg.No         True
Branch        False
University    False
dtype: bool

In [43]:
# sum () returns the answer in int
df.isnull().sum()

Name          0
Age           0
Reg.No        2
Branch        0
University    0
dtype: int64

In [44]:
#filling the null values with median
df['Reg.No'] = df['Reg.No'].fillna(df['Reg.No'].median())
df

             Name  Age  Reg.No Branch University
0  Praneeth Reddy   19  1500.0    CSE        VIT
1           Akash   21  1085.0    BCE        SNU
2         aasrith   18  1700.0    BRS        PES
3         shobtih   22  1722.0    BLE        VIT
4          kanish   23  1742.0    MIC        SRM
5        narayana   26  1600.0    MIS       JNTU
6          Vamssi   20  1232.0    BPS       VEMU
7          Pothan   17  1456.0    ECE        SVU
8          kalyan   18  1600.0    ECM     SITAMS
9          Charan   20  1987.0    EEE        SSN